.App {
  display: grid;
  text-align: center;
  height: 100%;
}

.App-header {
  background-color: #e6e2da;
  min-height: 3vh;
  display: flex;
  flex: auto;
  flex-direction: row;
  align-items: center;
  /* justify-content: end; */
  font-size: calc( 1.5vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}
