.body {
    flex: 1 1 auto;
}
#searchBar{
    min-width: 10rem;
}

.artist {
    margin-top: 4vh;
    margin-bottom: 4vh;
}

.artistPic {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    object-fit: cover;
}

.trackImage{
    width: 10vw;
    height: 10vw;
    min-width: 100px;
    min-height: 100px;
}

.tracksSection{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}

.musicMaster {
    text-align: center;
    align-items: center;
}